---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Want to get involved?">
  <h1>How can I get involved?</h1>
  <p>Want to join the hub, tell us what you can bring on to the table</p>
</BaseLayout>