
---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home">
  <h1>What is ECR?</h1>
  <p>Early Career Researchers </p>

  <div class="glider-contain">
    <button class="glider-prev">«</button>
    <div class="glider">
      <div><img src="/images/carouselImages/img-1.jpg" alt="Slide 1" /></div>
      <div><img src="/images/carouselImages/img-2.jpg" alt="Slide 2" /></div>
      <div><img src="/images/carouselImages/img-3.jpg" alt="Slide 3" /></div>
    </div>
    <button class="glider-next">»</button>
    <div class="dots"></div>
  </div>
</BaseLayout>