---
import BaseLayout from "../layouts/BaseLayout.astro";
const base = import.meta.env.BASE_URL;
---

<BaseLayout title="Home">
  <div class="d-flex page-header">
    <div>
      <h1 class="index-header text-center">The IITM-ECR Hub</h1>
      <p class="index-subtext text-center">
        “Built right, from the ground up.​”
      </p>
    </div>
  </div>

  <div class="d-flex home-page-desc">
    <div class="desc-content">
      <p class="index-pointer-title">Background and Rationale</p>
      <br />
      <p>
        The IITM-ECR Hub is proposed to support Early Career Researchers (ECRs)
        navigating the complex, interdisciplinary field of Earth System Science.
        By offering structured onboarding, cross-training, and regular
        discussions, the hub aims to ease the learning curve for researchers
        from diverse backgrounds and promote collaboration in areas like
        modeling, prediction, and outreach. It will foster a vibrant community
        of young scientists at IITM, encourage innovation through shared
        learning, and build strong linkages with global ECR networks. The hub
        also envisions future expansion across MoES institutes to create a
        nationally integrated ECR ecosystem.
      </p>
    </div>
    <div class="desc-image">
      <img src={`${base}images/ecr-logo.jpeg`} />
    </div>
  </div>

  <!-- <div class="glider-contain">
    <button class="glider-prev">«</button>
    <div class="glider">
      <div>
        <img src={`${base}images/carouselImages/img-1.jpg`} alt="Slide 1" />
      </div>
      <div>
        <img src={`${base}images/carouselImages/img-2.jpg`} alt="Slide 1" />
      </div>
      <div>
        <img src={`${base}images/carouselImages/img-3.jpg`} alt="Slide 1" />
      </div>
    </div>
    <button class="glider-next">»</button>
    <div class="dots"></div>
  </div> -->
</BaseLayout>
